body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexble-container{
    display: flex;
    margin-bottom: 150px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
width: 80%;
}
 
.hire-btn{
    text-decoration: none;
    background-image: linear-gradient(to right, tomato, orange);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}

.main-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big-section{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience-area{
        background-image: url(/images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
        
}

.exprience{
    margin-left: 20px;
}
.skills1{
    margin: 20px;
    padding: 10px;
    border-left: 6px solid blue;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
.skills2{
    border-left: 6px solid tomato;
}

footer{
    text-align: center;
}