body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}
h1{
    font-size: 45px;
}
h2{
    font-size: 22px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 70%;
    padding-left: 70px;
}
.half-width img {
    width: 100%}
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,tomato);
        color: white;
        padding:10px 40px;
        border-radius: 6px;
        font-weight: 700;

    }
    .top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }
    .Download-button{
        text-decoration: none;
    }
    .dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        padding-right: 150px;
        background-position: right;
    }
    .experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    }
    .experiences-item{
        width: 40%;
       margin-left: 5%;
       margin-right: 5%;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 10px 10px 40px gray
        }
        #full-stack-developer{
            border-left: 7px solid tomato;
        }
        #baby-web-developer{
            border-left: 7px solid blue;
        }
      footer p{
        text-align: center;
      }